#msgWindow {
  white-space: pre;
  overflow-x: none;
  overflow-y: auto;
  width: 700px;
  height: 550px;
}

.shadow {
  box-shdow: 2px 2px 4px 1px #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1px;
  padding-left: 15px;
}

.allMsg {

}

.privMsg {
  font-style: italic;
}

.adminMsg {
  font-face: 'verdana, helvetica';
  font-size: 8;
}